In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import folium
from folium.plugins import HeatMap

In [2]:
# read the original file
df = pd.read_csv("King_County_house_prices_dataset.csv")

# handling bathrooms
df["bathrooms"] = df["bathrooms"].apply(lambda x: round(x))

# convert variables
# following variables are in thousand dollars and sqft
df["price"] = df["price"].apply(lambda x: x*0.001)
df["sqft_lot"] = df["sqft_lot"].apply(lambda x: x*0.001)
df["sqft_living"] = df["sqft_living"].apply(lambda x: x*0.001)
df["sqft_above"] = df["sqft_above"].apply(lambda x: x*0.001)
df["sqft_living15"] = df["sqft_living15"].apply(lambda x: x*0.001)
df["sqft_lot15"] = df["sqft_lot15"].apply(lambda x: x*0.001)

df.sqft_basement = pd.to_numeric(df.sqft_basement, errors='coerce')
df["sqft_basement"] = df["sqft_basement"].apply(lambda x: x*0.001)

df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221.9,3,1,1.18,5.650,1.0,NaN,0.0,...,7,1.18,0.00,1955,0.0,98178,47.5112,-122.257,1.34,5.650
1,6414100192,12/9/2014,538.0,3,2,2.57,7.242,2.0,0.0,0.0,...,7,2.17,0.40,1951,1991.0,98125,47.7210,-122.319,1.69,7.639
2,5631500400,2/25/2015,180.0,2,1,0.77,10.000,1.0,0.0,0.0,...,6,0.77,0.00,1933,NaN,98028,47.7379,-122.233,2.72,8.062
3,2487200875,12/9/2014,604.0,4,3,1.96,5.000,1.0,0.0,0.0,...,7,1.05,0.91,1965,0.0,98136,47.5208,-122.393,1.36,5.000
4,1954400510,2/18/2015,510.0,3,2,1.68,8.080,1.0,0.0,0.0,...,8,1.68,0.00,1987,0.0,98074,47.6168,-122.045,1.80,7.503

In [30]:
print(df['price'].quantile(0.0005))
print(df['price'].quantile(0.99))
print(df['price'].describe())
print(df['price'].skew())

135.0
1600.0
count    20748.000000
mean       517.402594
std        282.079283
min        134.000000
25%        320.000000
50%        449.114000
75%        633.725500
max       1960.000000
Name: price, dtype: float64
1.7474804284294294

In [4]:
#df["price"] = np.where(df["price"] <2960.0, 2960.0,df['price'])
#df["price"] = np.where(df["price"] >12681.0, 12681.0,df['price'])

In [5]:
df = df.query("price > 133.988 and price < 1970.0")
print(df['price'].skew())

1.7494213954617406

In [14]:
print(df['sqft_lot'].quantile(0.001))
print(df['sqft_lot'].quantile(0.98))
print(df['sqft_lot'].describe())
print(df['sqft_lot'].skew())

0.711
107.157
count    21272.000000
mean        15.015761
std         41.069784
min          0.520000
25%          5.024000
50%          7.578500
75%         10.560000
max       1651.359000
Name: sqft_lot, dtype: float64
13.033609950488763

In [15]:
df = df.query("sqft_lot < 107.157")
print(df['sqft_lot'].skew())

4.027947022059891

In [27]:
print(df['sqft_lot15'].quantile(0.001))
print(df['sqft_lot15'].quantile(0.998))
print(df['sqft_lot15'].describe())
print(df['sqft_lot15'].skew())

0.886
96.34557399999838
count    20790.000000
mean         9.632603
std         10.255570
min          0.651000
25%          5.040000
50%          7.519000
75%          9.825750
max        114.728000
Name: sqft_lot15, dtype: float64
4.578647793344203

In [28]:
df = df.query("sqft_lot15 < 96.34557399999838")
print(df['sqft_lot15'].skew())

4.018184570428154

In [ ]:
df = df.query("bedrooms < 33")
df = df.query("price < 1970.0")
df = df.query("sqft_lot < 107.157")
df = df.query("sqft_lot15 < 96.34557399999838")